# Odoo backend URL (no trailing slash)
ODOO_BASE_URL=http://localhost:8069

# Public URL exposed to browser (for images)
NEXT_PUBLIC_ODOO_BASE_URL=http://localhost:8069

# Next.js public URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Secret token untuk on-demand revalidation API
# Generate dengan: openssl rand -hex 32
# Harus sama persis dengan yang dikonfigurasi di Odoo webhook
REVALIDATE_SECRET=b745affdd97ca134dc7c6f45b35638b84165d1a5fb4ba5046d91751846c22143

ARTICLE_HASH_SECRET=MyS3cr3tKey!2024Lema